<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<p>
  <b>Url:</b>
  <%= @source.url %>
</p>

<p>
  <b>Daylife:</b>
  <%= @source.daylife_id %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
