<h1>Listing events</h1>

<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th>Search string</th>
    <th>From date</th>
    <th>To date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.search_string %></td>
    <td><%= event.from_date %></td>
    <td><%= event.to_date %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path, :class => "btn primary" %>
